.root {
  max-width: 720px;
  margin: 1rem auto 0;
  padding: 0 0.75rem;
}

.metadata {
  background-color: var(--background-alt);
  border-radius: 8px;
  padding: 1rem;
  h1 {
    padding: 0;
    margin: 0;
  }

  &Items {
    color: var(--accent-color);
    margin-top: 1rem;
    display: flex;
    gap: 0.75rem;

    i {
      font-size: 14px;
    }
  }
}

.header {
  margin-top: 0.75rem;
  display: flex;
  gap: 0.75rem;

  &Search {
    flex: 1;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: 1.3rem;
}

.link {
  display: flex;
  justify-content: space-between;
  .name {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.3rem;

    i {
      font-size: 16px;
    }
    .text {
      line-height: 16px;
    }
  }
  .href {
    font-size: 1.2rem;
    color: #aaa;
  }

  &.deleting {
    opacity: 0.2;
  }
}
