.root {
  max-width: 720px;
  margin: 1rem auto 0;
  padding: 0 0.75rem;
}

.metadata {
  background-color: var(--background-alt);
  border-radius: 8px;
  padding: 1rem;
  h1 {
    padding: 0;
    margin: 0;
  }

  &Items {
    color: var(--accent-color);
    margin-top: 1rem;
    display: flex;
    gap: 0.75rem;

    i {
      font-size: 14px;
    }
  }
}

.header {
  margin-top: 0.75rem;
  display: flex;
  gap: 0.75rem;

  &Search {
    flex: 1;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.3rem;
  padding-bottom: 2rem;
  margin-right: -0.75rem;
}

.link {
  display: flex;
  justify-content: space-between;
  .name {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.3rem;

    i {
      font-size: 16px;
    }
    .text {
      line-height: 16px;
      line-height: 30px;
    }
  }
  > a {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    .href {
      font-size: 1.2rem;
      color: #aaa;
      line-height: 1.2;
    }
  }

  > button {
    align-self: stretch;
    width: 3rem;
    color: crimson;
    flex-shrink: 0;
  }

  &.deleting {
    opacity: 0.2;
  }
}
